.Header-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 5px;
  font-size: calc(10px + 2vmin);
  height: 80px;
  background-color: rgba(93, 93, 93, 0.173);
}

.Link {
  font-weight: 400;
  color: white;
  text-decoration: none;
  font-size: 20px;
}

.links {
  text-align: end;
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 10px;
  justify-content: space-around;
}

.Header-container {
  justify-content: space-between;
}

.Link:hover {
  text-decoration: underline;
}
#logo img {
  height: 50px;
}

#logo {
  margin-left: 30px;
  margin-top: 15px;
  font-weight: 700;
  color: rgb(249, 51, 51);
  font-size: 30px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}
